# ==============================
# VARIABLES DE ENTORNO
# ==============================

.env
.env.*
!.env.example

apps/api/.env
apps/web/.env

# ==============================
# DEPENDENCIAS
# ==============================

node_modules/
apps/*/node_modules/

# ==============================
# BUILDS
# ==============================

dist/
apps/*/dist/

# ==============================
# NETLIFY
# ==============================

.netlify/