NODE_ENV=development
PORT=4000

# ==============================
# DATABASE
# ==============================

DATABASE_URL=postgresql://neondb_owner:npg_lpw3Vd2vTNsF@ep-spring-band-ayje01rd-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# ==============================
# APLICACION
# ==============================

FRONTEND_URL=http://localhost:5173
APP_URL=http://localhost:5173

# ==============================
# SEGURIDAD
# ==============================

JWT_SECRET=yY18NGihFGGlziVbPd5gltvPHCDsXASLFPUtm3obvmQ
JOB_SECRET=a5b5320c4a1b2bc40333c920d5ba63712514aac6f9a1ad50dabfaa6a6ec5ef1c

# ==============================
# WORKER LOCAL
# ==============================

ENABLE_LOCAL_WORKER=true

# ==============================
# EMAIL - GMAIL SMTP
# ==============================

EMAIL_PROVIDER=smtp
EMAIL_FROM="Reminder System <hernandezlopezcelina1@gmail.com>"
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=hernandezlopezcelina1@gmail.com
SMTP_PASS=eclfjmlbfjzuxttx

# ==============================
# WHATSAPP
# ==============================

WHATSAPP_PROVIDER=console

WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=

WHATSAPP_API_VERSION=v23.0

WHATSAPP_TEMPLATE_NAME=document_reminder

WHATSAPP_TEMPLATE_LANGUAGE=es