# =====================================================
# VARIABLES DE ENTORNO
# =====================================================

.env
.env.*
!.env.example


# =====================================================
# DEPENDENCIAS
# =====================================================

node_modules/
apps/*/node_modules/


# =====================================================
# BUILDS
# =====================================================

dist/
apps/*/dist/


# =====================================================
# NETLIFY LOCAL
# =====================================================

.netlify/


# =====================================================
# LOGS
# =====================================================

*.log
npm-debug.log*
pnpm-debug.log*


# =====================================================
# SISTEMA
# =====================================================

.DS_Store
Thumbs.db


# =====================================================
# IDE
# =====================================================

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json